includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
        - %currentWorkingDirectory%/.git/*
        - %currentWorkingDirectory%/bin/*
        - %currentWorkingDirectory%/report/*
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/vendor/*
    ignoreErrors:
        - '#^Function apply_filters(_ref_array)? invoked with \d parameters, \d required\.$#'
